# Target
CONFIG_IDF_TARGET="esp32s3"

# Flash
CONFIG_ESPTOOLPY_FLASHSIZE_8MB=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"

# TWAI (CAN)
CONFIG_TWAI_ISR_IN_IRAM=y

# FreeRTOS
CONFIG_FREERTOS_HZ=1000

# Log level
CONFIG_LOG_DEFAULT_LEVEL_INFO=y
CONFIG_LOG_MAXIMUM_LEVEL_DEBUG=y

# NVS
CONFIG_NVS_ENCRYPTION=n

# WiFi
CONFIG_ESP_WIFI_ENABLED=y

# USB CDC console
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y
